/*
.pagesize{
    margin-left: 130px;
    margin-right: 130px;
}

.sideicon{
    display: flex;
    margin-left:15px;

}

.lefttitle{
    display: flex;
    margin-left:20px;
    margin-right:20px;
    margin-top: 20px;

}
.lefttitlename{
    margin-left: 20px;
    margin-bottom: 10px;
    height: 75px;
    width: 250px;
    overflow: hidden;
    color: black;
}
*/