<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    
    <style>
        .is-horizontal-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="pagesize">
    
    <section class="section">
        <div class="container">
            <div class="columns">

                <div class="column is-one-third">
                    <div class="notification">
                        
                        <div class="card-image has-text-centered">
                            <figure class="image is-128x128 is-inline-block">
                                <img class="is-rounded" src="{{user.picture}}" />
                            </figure>
                        </div>
                        <p class="title has-text-centered ">{{user.name}}</p>

                        <div class="card-image has-text-centered">
                            <div class="columns is-inline-flex">
                                <div class="column">
                                    <a class="image is-48x48" href={{user.linkLink}} target="_blank">
                                        <img src="../../assets/logoLinkedin.png">
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="image is-48x48" href={{user.linkGit}} target="_blank">
                                        <img src="../../assets/logoGithub.png">
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="image is-48x48" href = "mailto: {{user.email}}" target="_blank">
                                        <img src="../../assets/logoGmail.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <hr class="has-background-grey-lighter">
                        <p class="subtitle is-4">Experiência:</p>
                        <div>
                            <p class="is-marginless subtitle is-5"><strong>Client-Side:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-code"></i></span>
                                <!--<span><p>&nbsp;*HTML5, Sass, Angular*</p></span>-->
                                <span>
                                    <p>&nbsp;{{user.descriptionCS}}</p>
                                </span>
                            </div>
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Server-Side:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-server"></i></span>
                                <span><p>&nbsp;{{user.descriptionSS}}</p></span>
                            </div>
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Database:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-database"></i></span>
                                <span><p>&nbsp;{{user.descriptionDB}}</p></span>
                            </div>
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Other:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-plus-square"></i></span>
                                <span><p>&nbsp;{{user.descriptionOth}}</p></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="notification" *ngFor="let project of projects">
                        <div class="columns">
                            <div class="column is-one-third">
                                <figure class="image" style="max-width: 600px;">
                                    <img src="../../assets/projPa3.jpg">
                                </figure>
                            </div>
                            
                            <div class="column">
                                <p class="subtitle is-4"><strong>{{project.title}}</strong></p>

                                <p class="has-text-justified">{{project.description}}</p>
                                <br>
                                <div class="columns is-flex">
                                    <div class="column">
                                        <br>
                                        <p class="has-text-right"><i>Data do Projeto: *20/04/2020*</i></p>
                                    </div>
                                    <div class="column is-one-fifth">
                                        <figure class="image has-text-right">
                                            <a class="image is-48x48" href="https://github.com/Declara-Emergencia/Web-Portfolio" target="_blank">
                                                <img src="../../assets/logoGithub.png">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--projeto seguinte aqui-->
                </div>
            </div>
            <a class="button is-primary" [routerLink]="['edit-profile']">
                <strong>Edit</strong>
            </a>
        </div>
    </section>
</div>
</body>
</html>
