<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
<div class="pagesize">
    <section class="section">
        <div class="container">
            <div class="columns">

                <div class="column is-one-third">
                    <div class="notification">
                        <div class="columns">
                            <article>
                                <figure class="image has-image" style="max-width: 128px;">
                                    <img src="../../assets/pfp.png">
                                </figure>
                            </article>
                            <article>
                                <div class="lefttitlename">
                                    <p class="title"><strong>Guilherme de Paula MacenaGuilherme de Paula MacenaGuilherme de Paula MacenaGuilherme de Paula Macena</strong></p> 
                                </div>                                                                                  
                                <div class="columns">
                                    <article>
                                        <div class="lefttitle">
                                            <a class="image" style="max-width: 40px;" href="https://www.linkedin.com/" target="_blank">
                                                <img src="../../assets/logoLinkedin.png">
                                            </a> 
                                        </div>                                                                         
                                    </article>
                                    <article>
                                        <div class="lefttitle">
                                            <a class="image" style="max-width: 40px;" href="https://github.com/Declara-Emergencia" target="_blank">
                                                <img src="../../assets/logoGithub.png">
                                            </a>
                                        </div>                                
                                    </article>
                                    <article>
                                        <div class="lefttitle">
                                            <a class="image" style="max-width: 40px;" href="https://www.google.com/intl/pt/gmail/about/#" target="_blank">
                                                <img src="../../assets/logoGmail.png">
                                            </a>
                                        </div>                                
                                </article> 
                            </div>
                </article> 
                    </div>
                        <hr class="has-background-grey-lighter">
                        <p class="subtitle is-4">Experiência:</p>
                        <div>
                            <p class="is-marginless subtitle is-5"><strong>Client-Side:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-code"></i></span>
                                <span><p>&nbsp;*HTML5, Sass, Angular*</p></span>
                            </div>                              
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Server-Side:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-server"></i></span>
                                <span><p>&nbsp;*NodeJS, ExpressJS*</p></span>
                            </div> 
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Database:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-database"></i></span>
                                <span><p>&nbsp;*SQL Server, MongoDB*</p></span>
                            </div>
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Other:</strong></p>
                            <div class="sideicon">
                                <span><i class="fas fa-plus-square"></i></span>
                                <span><p>&nbsp;*C#, Arduino, Python*</p></span>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="notification">
                        <div class="columns">
                            <div class="column is-one-third">
                                <figure class="image" style="max-width: 600px;">
                                    <img src="../../assets/projPa3.jpg">
                                </figure>
                            </div>
                            
                            <div class="column">
                                <p class="subtitle is-4"><strong>*Título do Projeto*</strong></p>

                                <p class="has-text-justified">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere culpa omnis enim
                                    magni repudiandae aliquam? Itaquedebitis est nisi qui! Sunt atque in aut inventore laboriosam
                                    facilis sapiente explicabo. Accusamus. lorem*</p>
                                <br>
                                <div class="columns">
                                    <div class="column">
                                        <br>
                                        <p class="has-text-right"><i>Data do Projeto: *20/04/2020*</i></p>
                                    </div>
                                    <div class="column is-one-fifth">
                                        <figure class="image has-text-right">
                                                <a class="image" style="max-width: 50px;" href="https://github.com/Declara-Emergencia/Web-Portfolio" target="_blank">
                                                    <img src="../../assets/logoGithub.png">
                                                </a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--projeto seguinte aqui-->
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
