<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    
    <style>
        .is-horizontal-center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="pagesize">
    
    <section class="section">
        <div class="container">
            <div class="columns">

                <div class="column is-one-third">
                    <div class="notification">
                        
                        <div class="card-image has-text-centered">
                            <figure class="image is-128x128 is-inline-block">
                                <img class="is-rounded" src="{{user.picture}}" />
                            </figure>
                        </div>
                        <p class="title has-text-centered ">{{user.name}}</p>

                        <div class="card-image has-text-centered">
                            <div class="columns is-inline-flex">
                                <div class="column">
                                    <a class="image is-48x48" href={{user.linkLink}} target="_blank">
                                        <img src="../../assets/logoLinkedin.png">
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="image is-48x48" href={{user.linkGit}} target="_blank">
                                        <img src="../../assets/logoGithub.png">
                                    </a>
                                </div>
                                <div class="column">
                                    <a class="image is-48x48" href = "mailto: {{user.email}}" target="_blank">
                                        <img src="../../assets/logoGmail.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <hr class="has-background-grey-lighter">
                        <p class="subtitle is-4">Experiência:</p>
                        <div>
                            <p class="is-marginless subtitle is-5"><strong>Client-Side:</strong></p>
                                <span><p><i class="fas fa-code"></i>&nbsp;{{user.descriptionCS}}</p></span>
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Server-Side:</strong></p>
                                <span><p><i class="fas fa-server"></i>&nbsp;{{user.descriptionSS}}</p></span>
                            <br>
                            <p class="is-marginless subtitle is-5"><strong>Database:</strong></p>
                                <span><p><i class="fas fa-database"></i>&nbsp;{{user.descriptionDB}}</p></span>
                            <br>
                            <p class="is-marginless subtitle is-5" ><strong>Other:</strong></p>
                                <span><p><i class="fas fa-plus-square"></i>&nbsp;{{user.descriptionOth}}</p></span>
                        </div>
                    </div>
                    <a class="button is-primary" [routerLink]="['edit-profile']" *ngIf="this.user_id === logged_user_id">
                        <strong>Edit</strong>
                    </a>
                </div>

                <div class="column">
                            <div class="notification">
                                <div class="columns">
                                    <div class="column is-one-third">
                                        <figure class="image" style="max-width: 600px;">
                                            <img src="../../assets/projPa3.jpg">
                                        </figure>
                                    </div>
                                    <div class="column">
                                            <input class="input" type="text" [(ngModel)]="project.title" #description="ngModel" required
                                            placeholder="Título">
                                            <input class="input" type="text" [(ngModel)]="project.description" #description="ngModel" required
                                            placeholder="Descrição">                              
                                        <br>
                                        <div class="columns is-flex">
                                            <div class="column">
                                                <br>
                                                <div class="field is-grouped">
                                                    <div class="control">
                                                        <button class="button is-link" (click)="patch(project)">
                                                            <strong> Save </strong>
                                                        </button>
                                                    </div>
                                                    <div class="control" [routerLink]="['..']">
                                                        <button class="button is-link is-light">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                    </div>  
            </div>
        </div>
    </section>
</div>
</body>
</html>
