<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="notification">
                        <p class="subtitle is-6"><strong>WEBPORTFÓLIO</strong></p>
                        <hr class="has-background-grey-lighter">
                        <p>Um local para mostrar ao mundo o que você sabe</p>
                    </div>
                </div>
                <div class="column">
                    <div class="notification">
                        <p class="subtitle is-6"><strong>RESUMO</strong></p>
                        <div class="content" >
                            <p class="has-text-justified">Para este projeto, foi desenvolvida uma aplicação web que funciona
                                como um portfólio de programador ou profissional da área de TI.
                                A proposta visa criar uma base para que o cliente cadastrado crie
                                uma página que reúna uma descrição de suas habilidades, conhecimentos
                                e projetos passados, o colocando na vitrine para o mercado de trabalho.
                                Para profissional desta área de atuação, é de suma importância a prática
                                do networking, portanto, a plataforma permitirá a disponibilização de seu
                                portfólio para ser encontrado por outros usuários, de modo que através
                                dos meios de contato cedidos, a comunicação seja feita. Como o propósito
                                da disciplina se mostra agregar projetos ao currículo do realizador, a
                                finalidade desta pesquisa cumpriu a si mesma, onde foi reunido em uma base
                                própria, todas as outras aplicações desenvolvidas.
                            </p>
                        </div>
                    </div>
                    <div class="notification">
                        <p class="subtitle is-6"><strong>TECNOLOGIAS</strong></p>
                        <div class="columns">
                            <div class="column">
                                <a class="image is-96x96" href="https://en.wikipedia.org/wiki/MongoDB" target="_blank">
                                    <img src="../../assets/logoMongo.png">
                                </a>
                            </div>
                            <div class="column">
                                <a class="image is-96x96" href="https://en.wikipedia.org/wiki/Express.js" target="_blank">
                                    <img src="../../assets/logoExpress.png">
                                </a>
                            </div>
                            <div class="column">
                                <a class="image is-96x96" href="https://en.wikipedia.org/wiki/Angular_(web_framework)" target="_blank">
                                    <img src="../../assets/logoAngular.png">
                                </a>
                            </div>
                            <div class="column">
                                <a class="image is-96x96" href="https://en.wikipedia.org/wiki/Node.js" target="_blank">
                                    <img src="../../assets/logoNode.png">
                                </a>
                            </div>
                            <div class="column">
                                <a class="image is-96x96" href="https://bulma.io/" target="_blank">
                                    <img src="../../assets/logoBulma.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
