<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <div class="formsize">
    <br>
    <div class="field">
        <label class="label">Nome</label>
        <div class="control">
          <input class="input" type="text" placeholder="Nome">
        </div>
      </div>

      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input class="input" type="text" placeholder="Username">
        </div>
      </div>

      <div class="field">
        <label class="label">E-mail</label>
        <div class="control">
          <input class="input" type="text" placeholder="E-mail">
        </div>
      </div>      
              
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-link is-light">Cancel</button>
        </div>
      </div>
    </div>
</body>
</html>